<configuration>
  <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
    <tagEncoder>
      <pattern>%logger</pattern>
    </tagEncoder>
    <encoder>
      <pattern>%msg%n%rEx</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="logcat"/>
  </root>
</configuration>
